{:kotoba.app/id "cloud.itonami.isic-1040", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreidafmfsgx6tel64bzf7pmkzjpfjtz6zohpc3pm6gnnej5nunphhjq", :kotoba.app/embed-url "ipfs://bafkreidafmfsgx6tel64bzf7pmkzjpfjtz6zohpc3pm6gnnej5nunphhjq", :published {:archive "https://kotobase.net/ipfs/bafkreidafmfsgx6tel64bzf7pmkzjpfjtz6zohpc3pm6gnnej5nunphhjq", :size 72686, :put-status 201, :get-status 200, :at "2026-08-15T13:58:11.494Z"}}
